# R-Paket-Build-Artefakte
/src/*.o
/src/*.so
/src/*.dll
/src/tmp.def
*.tar.gz
*.pdf
.Rdata
.Rhistory
compilation_log.txt
temp_debug_log.txt
test_values_eigen.txt
gram_matrix.txt
inst/doc
/doc/
/Meta/
